.main{
  display: flex;
  justify-content: center;
  gap:20rem;
  text-align: center;
}
.inner{
  padding: 20px;
  background-color: antiquewhite;
  margin: 10px;
  cursor: move;
  user-select: none;
}

.delete{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.delete p{
  background-color: lightcoral;
  padding: 30px;
  border-radius: 20%;
}